#tlo {
    background-image: url(..\img\tlo.jpg);
    height: 10%;
    width: 100%;
}
.whiteButton {
    background-color: #FFFFFF;
    width: 40px;
  }
  .imageSize {
    width: 25px;
  }
  .buttonFull {
    color:white ;
  }
