body {
  font-family: Helvetica;
}
.box1, .box6{
    width: 13%;
}
.search{
    background-color: black;
    color: white;
    z-index: 500;
}
.produkty{
    background-color: #FFF200;
    color: black;
    font-size: 25px;
}
.oferta{
    color: orangered;
    font-size: 18px;
}
.dostawa{
    font-size: 18px;
}
.topnav .search-container {
    float: right;
  }
  
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 95%;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: yellow;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
   .search-container button:hover {
    background: #ccc;
  }
  .znizki{
      background-image: url(../img/hov1.jpg);
      width: 100%;
      height: 366px;
  }
  .white{
      background-color: white !important;
  }
  .center{
      text-align: center;
  }
  .media{
      padding: 10px;
  }
  .cena{
      font-size: 32px;
      font-family: Arial;
      color: #D00000;
      width: 22%;
  }
  .indeks{
      float: left;
      
  }
  .cos{
      float: left;
  }
  p:hover {
    color: black;
    font-weight: 700;
  }
.hov2:hover{
    height: 366px;
    width: 100%;
    background-image: url(../img/hov2.jpg);
    position: absolute;
    bottom: 118px;
}
.hov3:hover{
    height: 366px;
    width: 100%;
    background-image: url(../img/hov3.jpg);
    position: absolute;
    bottom: 118px;
}
.hov4:hover{
    height: 366px;
    width: 100%;
    background-image: url(../img/hov4.jpg);
    position: absolute;
    bottom: 118px;
}
.hov5:hover{
    height: 366px;
    width: 100%;
    background-image: url(../img/hov5.jpg);
    position: absolute;
    bottom: 118px;
}
.hov6:hover{
    height: 366px;
    width: 100%;
    background-image: url(../img/hov6.jpg);
    position: absolute;
    bottom: 118px;
}
.hov7:hover{
    height: 366px;
    width: 100%;
    background-image: url(../img/hov7.jpg);
    position: absolute;
    bottom: 118px;
}
.hov8:hover{
    height: 366px;
    width: 100%;
    background-image: url(../img/hov8.jpg);
    position: absolute;
    bottom: 118px;
}
  @media(max-width: 800px){
    .layout-horizontal{
        flex: 2;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 50%;
        margin: auto;
        text-align: center;
        
    }
    .carousel, .contact, .znizki, .nwm{
        display: none;
    }
  }
.grid-zamowienia{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-search{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
    padding: 20px;
}
.grid-opcje{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-hover{
    display: grid;
    grid-template-columns: 8fr 2fr 3fr 2fr 2fr 2fr 2fr 2fr 3fr 4fr;
}
.grid-warto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
}
.grid-rekom{
    display: grid;
    grid-template-columns: 1fr 2fr 8fr;
    margin: 20px;
}
.grid-rekomendowane{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    margin: 20px;
}
.grid-obrazy1{
    display: grid;
    grid-template-columns: 2fr 6fr 6fr 2fr;
    gap: 10px;
}
.grid-obrazy2{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    margin: 20px;
}
.grid-rekom{
    display: grid;
    grid-template-columns: 1fr 2fr 8fr;
    margin: 20px;
}
.grid-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    margin: 20px;
    gap: 10px;
}
.opcja{
    padding: 10px;
}