td {
  border: 5px solid black;
  border-style: inset;
  background-color: dimgray;
  width: 250px;
  height: 250px;
  font-size: xx-large;
  text-align: center;
  color: white;
}
.wygrana{
  color: greenyellow;
}
