body{
  background-image: url(../img/tlo.jpg);
}
table{
  margin: auto;
  border: 3px solid;
  padding: 10px;
}
td {
  border: 5px solid black;
  border-style: inset;
  background-image: url(../img/tabelatlo.jpg);
  width: 250px;
  height: 250px;
  font-size: xxx-large;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.wygrana{
  color: greenyellow;
}
.hide{
  display: none;
}
.visible{
  display: block;
}
#resetButton{
  margin: auto;
  width: 30%;
  border: 3px solid;
  padding: 10px;
}
