td {
  border: 5px solid black;
  border-style: inset;
  background-color: dimgray;
  width: 250px;
  height: 250px;
  font-size: xx-large;
  text-align: center;
  color: white;
}
.wygrana{
  color: greenyellow;
}
.hide{
  display: none;
}
.visible{
  display: block;
}
#resetButton{
  margin: auto;
  width: 40%;
  border: 3px solid;
  padding: 10px;
}
